<html>

<head>
    <title>SRMS BOT</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/jquery.convform.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="scripts/script.js"></script>
    <style type="text/css">
        .t {
            border: 1px solid #999;
            padding: 7px 10px;
            outline: none;
            font-size: 0.905rem;
            width: calc(100% - 70px);
            line-height: 1.3em;
            min-height: 1.7em;
            max-height: 10rem;
            display: block;
            max-width: 88%;
            margin-right: 2.5%;
            border-radius: 3px;
            margin: 7px 10px;
            box-shadow: 12px 0px 0px 0px rgba(255,255,255,0.4),
        }
    </style>
</head>

<body>
    <section id="demo">
        <div class="vertical-align">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3 col-xs-offset-0">
                        <div class="card no-border">
                            <div id="chat" class="conv-form-wrapper">
                                <!-- <br />CHAT VIEW <br> <textarea id="chatview" cols="40" rows="20"></textarea> -->
                                <div style="height: 80vh; padding-top: 10px;" id="chatview">

                                </div>
                                <textarea class="t" id="input"></textarea>
                                <!-- <input id="input" type="text"> <button id="rec">SEND</button> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



</body>

</html>